$navbarHeight: 80px;
$navbarHeightScrolled: 90px;
$bannerHeight: 500px;

.header {
  @apply
    sticky
    top-0
    z-10
    h-max
    w-full
    relative
    transition-transform
    duration-300
    ease-in-out;

  &.scrolled {
    .banner {
      @apply
        absolute
        translate-y-[-100%]
        opacity-0;
    }

    .navbar {
      @apply
        h-[#{$navbarHeightScrolled}];

      .content {
        .column {
          .avatar {
            @apply
              top-0;
          }

          .userInfo {
            @apply
              mt-0;
          }
        }

        .actions {
          @apply
            mt-0;
        }
      }
    }
  }

  .banner {
    @apply
      relative
      w-full
      overflow-hidden
      transition-all
      duration-300
      ease-in-out;
  }

  .navbar {
    @apply
      h-[#{$navbarHeight}]
      w-full
      rounded-none
      px-6
      py-2
      lg:px-8
      lg:py-4;

    &.dark {
      @apply
        bg-[var(--slate-900)];
    }

    .content {
      @apply
        flex
        items-center
        justify-between
        text-blue-gray-900;

      .column {
        @apply
          flex
          items-center
          gap-4;

        .avatar {
          @apply
            top-[-4rem]
            transition-all
            duration-300
            ease-in-out;
        }

        .userInfo {
          @apply
            flex
            flex-col
            gap-1
            mt-[-4rem]
            dark:text-blue-gray-300;
        }
      }

      .actions {
        @apply
          flex
          items-center
          gap-4
          mt-[-4rem];
      }
    }
  }
}
