$navbarHeight: 80px;

.header {
  @apply
    sticky
    top-0
    z-10
    h-max
    w-full
    relative;

  .navbar {
    @apply
      h-[#{$navbarHeight}]
      w-full
      rounded-none
      px-4
      py-2
      lg:px-8
      lg:py-4;

    .content {
      @apply
        flex
        items-center
        justify-between
        text-blue-gray-900;

      .column {
        @apply
          flex
          items-center
          gap-4;

        .avatar {
          @apply
            top-[-4rem];
        }

        .userInfo {
          @apply
            flex
            flex-col
            gap-1
            mt-[-4rem];
        }
      }

      .actions {
        @apply
          flex
          items-center
          gap-4
          mt-[-4rem];
      }
    }
  }
}
